extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{proj.project_name}
        p #{proj.description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in proj.technologies
            li #{technology}

        a.btn-link(href=proj.live_link, target="_blank") Live Demo
        a.btn-link(href=proj.github_link, target="_blank") GitHub Repo

    .project-img-box.box

        img.project-img(src=`${proj.image_urls[1]}`, alt=`${proj.project_name} screenshot`)
        img.project-img(src=`${proj.image_urls[2]}`, alt=`${proj.project_name} screenshot`)
        img.project-img(src=`${proj.image_urls[3]}`, alt=`${proj.project_name} screenshot`)


    nav.nav
      a(href='/')
        span &larr;
        |  Back
