extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Use the info in your data file and the comments below to complete this template

        //- Use interpolation to dynamically add the project title
        h1 #{proj.project_name}

        //- Use interpolation to dynamically add the project description
        p #{proj.description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Use an `each` iterator and interpolation to dynamically replace the li tags below with the technologies listed for this project
          each technology in proj.technologies
            li #{technology}


        //- Add the href values to the links below
        a.btn-link(href=proj.live_link, target="_blank") Live Demo
        a.btn-link(href=proj.github_link, target="_blank") GitHub Repo

    .project-img-box.box

        img.project-img(src=`${proj.image_urls[1]}`, alt=`${proj.project_name} screenshot`)
        img.project-img(src=`${proj.image_urls[2]}`, alt=`${proj.project_name} screenshot`)
        img.project-img(src=`${proj.image_urls[3]}`, alt=`${proj.project_name} screenshot`)


    nav.nav
      a(href='/')
        span &larr;
        |  Back
